body{
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin: -5px;
    
}
#title{
    font-size: 2rem;
    margin-left: 2.25rem;
    
}
nav ul{
    font-size: 1.25rem;
    margin: 35px;
    text-decoration: none;
}
nav ul a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 1.50rem;
    border: 3px solid;
    padding: 0.75rem 1.15rem;
}
nav ul a:hover{
    background-color: aliceblue;
    color: black;
}
header{
    display: flex;
    width: 90%;
    margin: 0 5% 0 5%;
    justify-content: space-between;
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 5px;
}
header div{
    width: 70%;
    text-align: justify;
    margin: 1rem;
}
header img{
    width: 30%;
}

#section-one{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.card{
    background-color: aliceblue;
    margin: 5.25rem 0.25rem 0 0.25rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0.20rem 0.75rem 0.75rem black;;
    
}
#form{
    margin: 0% 15%;
    width: 70%;
}
#form div{
    width: 100%;
}
.form-control{
    width: 100%;
}
button{
    padding: 0.60rem;
    margin-left: 87%;
    background-color: aqua;
}
button:hover{
    background-color: chartreuse;
}